<?xml version="1.0"?>
<model>
  <name>RMUC2026 Competition Field</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>RMOSS Team</name>
    <email>contact@rmoss.org</email>
  </author>
  
  <description>
    RoboMaster University Competition 2026 competition field model.
  </description>
</model>